body {
    background-color: rgba (230, 230, 250, 0.5);
  }
  
  h1 {
    color: fuchsia;
  }

  .center {
      text-align: center;
  }

   /* CLASS */
   .center { ...
   }

  .fonte-verde {
      color: deeppink
  }
  
  /* ID */
  #para 
  { 
    font-family: verdana;
    font-size: 20px;
   }

  h1 {
    color: magenta;
    background-color: pink;
    border: 2px solid plum;
  }
  h2 { color: rgb(0, 229, 255);
  }

  h2 { color: deeppink
  }