body {
    background-color: rgb(49, 200, 250);
  }
  
  h1 {
    color: rgb(0, 21, 255);
  }

  .center {
      text-align: center;
  }

  .fonte-verde {
      color: greenyellow
  }
  
  #para 
  { 
    font-family: verdana;
    font-size: 20px;
   }
  